html {
  font-size: 1em;
}
body {
  margin: 0;
  padding: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.3;
}

h1 {
  margin: 0 0 .5em;
}

.form {
  width: 30em;
}
.form__container {
  float: left;
  width: 4em;
  margin: 0 .3em 0 0;
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form__legend {
  position: relative;
  left: -2px;
  display: block;
  width: 100%;
  margin: 0 0 .5em;
  font-weight: bold;
}

.form__label {
  display: block;
  width: 100%;
  margin: 0 0 .3rem;
  color: #666;
  font-size: .8rem;
  text-transform: uppercase;
}

.form__select {
  display: block;
  width: 100%;
  height: 1.8em;
  border: 1px solid #999;
  border-radius: 0;
  background: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: .9rem;
  line-height: 1.8rem;
}
